*  {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 700;
}
.new_section_one{
	margin-top: 10px;
	width: 1240px;
	height: 750px;
	background: #D4F9F2;
}

.left{
	float: left;
	width: 400px;
	padding-top: 70px;
	padding-left: 40px;
}

.title_new{
	font-family: 'Jura', sans-serif;
	font-style: normal;
	font-size: 100px;
	margin-bottom: 33px;
}

.bottom_new{
	font-family: 'Jura', sans-serif;
	width: 360px;
	height: 50px;
	background: #FF1C52;
	padding-left: 60px;
	padding-top: 15px;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px 0px #00000040;
	font-style: normal;
	color: white;
}
.bottom_new:hover{
	color: #006AA7;
    background: #FFFFFF;
}
.right{
	float: right;
}
.section1{
	background: #FF1C52;
	width: 1240px;
    height: 380px;
}
.block2{
	width: 260px;
height: 250px;
font-family: 'Jura', sans-serif;
font-style: normal;
font-size: 16px;
background: #258A86;
display: inline-block;
margin: 20px;
margin-top: 50px;
}
.christmasicon2{
	height: 58px;
    width: 58px;
    margin-left: 10px;
}
.christext2{
	margin-left: 15px;
	margin-top: 10px;
}
.christit2{
	margin-left: 15px;
}
.christmastree2{
	color: #258A86;
font-family: 'Jura', sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 28px;
text-align: center;
}
.block2:nth-child(odd){
	background: #FFFFFF;
}
.section2{
	background: #D4F9F2;
	width: 1240px;
    height: 380px;
}
.block1{
	width: 260px;
height: 250px;
font-family: 'Jura', sans-serif;
font-style: normal;
font-size: 16px;
background: #FFFFFF;
display: inline-block;
margin: 20px;
margin-top: 50px;
}
.christmasicon{
	height: 58px;
    width: 58px;
    margin-left: 10px;
}
.christext{
	margin-left: 15px;
	margin-top: 10px;
}
.christit{
	margin-left: 15px;
}
.christmastree{
	color: #258A86;
font-family: 'Jura', sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 28px;
text-align: center;
}
.block1:nth-child(odd){
	background: #F9C00D;
}
.section3{
	background: #FF1C52;
	width: 1240px;
    height: 380px;
}
.block3{
	width: 260px;
height: 250px;
font-family: 'Jura', sans-serif;
font-style: normal;
font-size: 16px;
background: #258A86;
display: inline-block;
margin: 20px;
margin-top: 50px;
}
.christmasicon3{
	height: 58px;
    width: 58px;
    margin-left: 10px;
}
.christext3{
	margin-left: 15px;
	margin-top: 10px;
}
.christit3{
	margin-left: 15px;
}
.christmastree3{
	color: #258A86;
font-family: 'Jura', sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 28px;
text-align: center;
}
.block3:nth-child(odd){
	background: #FFFFFF;
}
.section4{
	background: #D4F9F2;
	width: 1240px;
    height: 380px;
}
.block4{
	width: 260px;
height: 250px;
font-family: 'Jura', sans-serif;
font-style: normal;
font-size: 16px;
background: #FFFFFF;
display: inline-block;
margin: 20px;
margin-top: 50px;
}
.christmasicon4{
	height: 58px;
    width: 58px;
    margin-left: 10px;
}
.christext4{
	margin-left: 15px;
	margin-top: 10px;
}
.christit4{
	margin-left: 15px;
}
.christmastree4{
	color: #258A86;
font-family: 'Jura', sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 28px;
text-align: center;
}
.block4:nth-child(odd){
	background: #F9C00D;
}
.sticker2{
	font-size: 24px;
font-family: 'Jura', sans-serif;
margin-left: 420px;
color: #258A86;
}
.ukrstickers{
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 20px;
	border: 1px solid white;
	box-shadow: 5px 1px 15px white;
	border-radius: 4px;
	background: #FFFFFF;
}
.ukrstickers:hover{
	border: 1px solid #258A86;
	box-shadow: 5px 1px 15px #258A86;
	border-radius: 8px;
}
.section8{
	background: #FF1C52;
	width: 1240px;
	height: 600px;
}
.END{
    width: 1240px;
	height: 100px;
	background: #258A86;	
}
.textend{
	color: #FFFFFF;
font-size: 20px;
font-family: 'Jura', sans-serif;
margin-left: 460px;
padding-top: 35px;
}
.endphoto{
	width: 50px;
	height: 50px;
	margin-top: -35px;
	margin-left: 625px;
}